/*
Animation for background
It is static, but cool ;)
*/

body {
    color: #656262;
    margin: 0;
    height: 100vh; /* Ensure it covers the full viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative; /* It's needed for the pseudo element*/
}

/* Grayscale background */
body::before {
    content: ''; /* It creates the pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://images.pexels.com/photos/12990385/pexels-photo-12990385.png");
    background-size: cover;
    background-position: center;
    filter: grayscale(100%) ; /* Makes the image to gray scale */
    z-index: -1; /* To make sure that the pseudo-element  is behind */
}


h1 {
    color: #940cef;
}

.actions-container {
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 3px solid #8c0ae3;

    width: 25%;
    height: 400px;
    display: flex; /* Set the body to use Flexbox */
    flex-direction: column; /* Ensure elements are stacked vertically */
    justify-content: center; /* Center elements vertically */
    align-items: center; /* Center elements horizontally */
}

.action-container a {
    color: #76ff14;
}
.action-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    gap: 5px;
}

