<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Pending Approval</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/error.css}">
</head>
<body>
<div class="rejected-container">
    <div class="card-container">
        <div class="card">
            <h1>There is another user with this Username </h1>
            <img th:src="@{/images/thinking.png}" alt="Pending Approval" class="card-image">
            <p>If you are this user, <a th:href="@{/login}">login</a>to your account.</p>
            <p>Otherwise, try another username and <a th:href="@{/signup}">register</a></p>
            <p class="link-to">Go back to the <a th:href="@{/}">Home Page</a></p>
        </div>
    </div>
</body>
</html>
