<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Pending Approval</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/error.css}">
</head>
<body>
<div class="rejected-container">
    <div class="card-container">
        <div class="card">
            <h1>Your account is still pending approval</h1>
            <img th:src="@{/images/monitor-screen.png}" alt="Pending Approval" class="card-image">
            <p>Thank you for registering! Your account is currently under review by the administrator.</p>
            <p>When your account is ready to use, you will access your personal dashboard.</p>
            <p class="link-to">Go back to the <a th:href="@{/}">Home Page</a></p>
        </div>
    </div>
</body>
</html>
