<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
  <link rel="stylesheet" th:href="@{/css/auth.css}"/>
  <title>Authentication</title>
</head>
<body>
  <div class="actions-container">
        <h1>Authentication</h1>
        <p>Select your action:</p>
        <div class="action-options">
            <!-- Login Button -->
            <button
                    type="button"
                    th:onclick="|window.location.href='@{/login}'|">
            Log In
            </button>

            <br><br>
            <!-- Signup Button -->
            <button
                    type="button"
                    th:onclick="|window.location.href='@{/signup}'|">
              Sign Up
            </button>

        </div>

      <p class="link-to">Go back to the <a th:href="@{/public}">Public Page</a></p>
      <p class="link-to">Go back to the <a th:href="@{/}">Home Page</a></p>

  </div>
</body>
</html>
