<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/styles.css">
  <link rel="stylesheet" href="../static/css/home.css">
  <title>Authentication</title>
</head>
<body>
<div class="actions-container">
  <h1>Authentication</h1>
  <p>Select your action:</p>
  <div class="action-options">
    <!-- Login Button -->
    <button
            type="button"
            th:onclick="|window.location.href='@{/login.html}'|">
      Login
    </button>
    <br><br>
    <!-- Signup Button -->
    <button
            type="button"
            th:onclick="|window.location.href='@{/signup.html}'|">
      Sign Up
    </button>
  </div>
  <p class="link-to">Go back to the <a th:href="@{/templates/index.html}">Home Page</a></p>
</div>
</body>
</html>
