<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>
<div class="login-form">
    <h1>Login</h1>
    <form th:action="@{/process-login}" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Login</button>
    </form>
    <div class="error" th:if="${param.error}">
        Invalid username or password.
    </div>
    <br>
    <p class="link-to">Go back to the <a th:href="@{/public}">Public Page</a></p>
    <p class="link-to">Go back to the <a th:href="@{/}">Home Page</a></p>
</div>
</body>
</html>
