<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Voluntia Home</title>
    <!-- Correcting the CSS paths with Thymeleaf's @{} syntax -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>
<div class="header">
  <h1>Login</h1>
  <p>Select your role:</p>
</div>
<div class="login-form">
  <!-- Login form container -->
  <form th:action="@{#}" method="post">

    <div class="login-option">
      <!--Volunteer button-->
      <div class="option">
          <button type="button"
          th:onclick="|window.location.href='@{/login/vol}'|">
              Login as Volunteer
          </button>
      </div>
      <!--Organization button-->
      <div class="option">
          <button type="button"
          th:onclick="|window.location.href='@{/login/org}'|">
              Login as Organization
          </button>
      </div>
    </div>
    <!-- Login option separator -->
    <p class="separator">
      <span>or</span>
    </p>

    <!--Administrator button-->
    <div class="admin-option">
        <button type="button"
        th:onclick="|window.location.href='@{/login/vol}'|">
          Login as Administrator
        </button>
    </div>
  </form>
  <p class="link-to">Do you already have an account? <a th:href="@{/login}">Log In</a></p>
  <p class="link-to">Go back to the <a th:href="@{/}">Home Page</a></p>
</div>
</body>
</html>
