<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/form.css}">
    <title>Volunteer Login Form</title>
</head>
<body>

<h2>Login as Volunteer</h2>

<form th:action="@{/login/vol}" method="POST">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required placeholder="Username">
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required placeholder="Password">
    </div>

    <div>
        <button type="submit">Login</button>
    </div>
</form>

<p class="link-to">Go back to the <a th:href="@{/}">Home Page</a></p>

</body>
</html>